* {
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, sans-serif;
}
*::before, *::after {
    box-sizing: border-box;
}
span, a, label {
    display: inline-block;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.yashil {
    background-color: lime;
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    margin: 14px 0;
    position: relative;
}
.wrap {
    border: 5px solid red;
}
.sariq {
    font-weight: bold;
    column-gap: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: yellow;
    padding: 24px;
    font-size: 20px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    display: none;
}
.wrap:hover .sariq {
    display: flex;
}
.links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.link, .linkedit {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 23px;
    padding: 10px 20px;
}
.linkedit {
    color: gray;
}
.careti {
    font-size: 19px;
}

/* menu */
.main {
    margin: 30px;
    display: inline-block;
    position: relative;
}
.show {
    border: none;
    font-size: 25px;
    padding: 10px 30px;
    background-color: teal;
    color: white;
    cursor: pointer;
}
.list {
    list-style: none;
    padding: 0;
}
.list1 {
    position: absolute;
    z-index: 5;
    width: 100%;
    display: none;
}
.main:hover .list1 {
    display: block;
    animation: show1 0.2s linear forwards;
}
@keyframes show1 {
    0% {
        translate: -50px;
    }
    100% {
        translate: 50px;
    }
}
.a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-transform: capitalize;
    padding: 10px 20px;
    display: block;
    background-color: gold;
}
.list > .item > .a {
    border: 3px solid red;
}
.list2 > .item > .a {
    border-color: green;
    background-color: rgb(51, 255, 51);
}
.haslist {
    position: relative;
    box-shadow: 0 0 10px black;
}
.list2 {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    display: none;
}
.haslist:hover > .list2 {
    display: block;
    animation: show2 0.3s linear forwards;
}
@keyframes show2 {
    0% {
        transform: rotateY(190deg);
    }
    100% {
        transform: rotateY(0);
    }
}
.haslist:hover > .list3 {
    display: block;
    animation: show3 0.3s linear forwards;
    transform-origin: top left;
}
@keyframes show3 {
    0% {
        scale: 1;
    }
    100% {
        scale: 1;
    }
}
.list3 > .item > .a {
    border-color: blue;
    background-color: skyblue;
}
.list3 {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    display: none;
}
